{
  "openapi": "3.0.1",
  "info": {
    "title": "Enterprise Program API",
    "version": "1.0",
    "x-platforms": {
      "app_store_connect_api": "App Store Connect"
    }
  },
  "servers": [
    {
      "url": "https://api.enterprise.developer.apple.com/"
    }
  ],
  "paths": {
    "/v1/bundleIdCapabilities": {
      "post": {
        "summary": "Create a BundleIdCapability",
        "tags": [
          "BundleIdCapabilities"
        ],
        "operationId": "bundleIdCapabilities-create_instance",
        "requestBody": {
          "description": "BundleIdCapability representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleIdCapabilityCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single BundleIdCapability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdCapabilityResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bundleIdCapabilities/{id}": {
      "patch": {
        "summary": "Modify a BundleIdCapability",
        "tags": [
          "BundleIdCapabilities"
        ],
        "operationId": "bundleIdCapabilities-update_instance",
        "requestBody": {
          "description": "BundleIdCapability representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleIdCapabilityUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single BundleIdCapability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdCapabilityResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a BundleIdCapability",
        "tags": [
          "BundleIdCapabilities"
        ],
        "operationId": "bundleIdCapabilities-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/bundleIds": {
      "get": {
        "summary": "List Bundle Ids",
        "tags": [
          "BundleIds"
        ],
        "operationId": "bundleIds-get_collection",
        "parameters": [
          {
            "name": "filter[identifier]",
            "in": "query",
            "description": "filter by attribute 'identifier'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "filter by attribute 'name'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[platform]",
            "in": "query",
            "description": "filter by attribute 'platform'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[seedId]",
            "in": "query",
            "description": "filter by attribute 'seedId'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "identifier",
                  "-identifier",
                  "name",
                  "-name",
                  "platform",
                  "-platform",
                  "seedId",
                  "-seedId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[bundleIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "identifier",
                  "name",
                  "platform",
                  "profiles",
                  "seedId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "profiles"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[bundleIdCapabilities]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIdCapabilities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "capabilityType",
                  "settings"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[profiles]",
            "in": "query",
            "description": "the fields to include for returned resources of type profiles",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "createdDate",
                  "devices",
                  "expirationDate",
                  "name",
                  "platform",
                  "profileContent",
                  "profileState",
                  "profileType",
                  "uuid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[bundleIdCapabilities]",
            "in": "query",
            "description": "maximum number of related bundleIdCapabilities returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[profiles]",
            "in": "query",
            "description": "maximum number of related profiles returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of BundleIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register a New Bundle ID",
        "tags": [
          "BundleIds"
        ],
        "operationId": "bundleIds-create_instance",
        "requestBody": {
          "description": "BundleId representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleIdCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single BundleId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bundleIds/{id}": {
      "get": {
        "summary": "Read BundleId Information",
        "tags": [
          "BundleIds"
        ],
        "operationId": "bundleIds-get_instance",
        "parameters": [
          {
            "name": "fields[bundleIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "identifier",
                  "name",
                  "platform",
                  "profiles",
                  "seedId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "profiles"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[bundleIdCapabilities]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIdCapabilities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "capabilityType",
                  "settings"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[profiles]",
            "in": "query",
            "description": "the fields to include for returned resources of type profiles",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "createdDate",
                  "devices",
                  "expirationDate",
                  "name",
                  "platform",
                  "profileContent",
                  "profileState",
                  "profileType",
                  "uuid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[bundleIdCapabilities]",
            "in": "query",
            "description": "maximum number of related bundleIdCapabilities returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[profiles]",
            "in": "query",
            "description": "maximum number of related profiles returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single BundleId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a BundleId",
        "tags": [
          "BundleIds"
        ],
        "operationId": "bundleIds-update_instance",
        "requestBody": {
          "description": "BundleId representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleIdUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single BundleId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BundleIdResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a BundleId",
        "tags": [
          "BundleIds"
        ],
        "operationId": "bundleIds-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/certificates": {
      "get": {
        "summary": "List and Download Certificates",
        "tags": [
          "Certificates"
        ],
        "operationId": "certificates-get_collection",
        "parameters": [
          {
            "name": "filter[certificateType]",
            "in": "query",
            "description": "filter by attribute 'certificateType'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS_DEVELOPMENT",
                  "IOS_DISTRIBUTION",
                  "MAC_APP_DISTRIBUTION",
                  "MAC_INSTALLER_DISTRIBUTION",
                  "MAC_APP_DEVELOPMENT",
                  "DEVELOPER_ID_KEXT",
                  "DEVELOPER_ID_APPLICATION",
                  "DEVELOPMENT",
                  "DISTRIBUTION",
                  "PASS_TYPE_ID",
                  "PASS_TYPE_ID_WITH_NFC"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[displayName]",
            "in": "query",
            "description": "filter by attribute 'displayName'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[serialNumber]",
            "in": "query",
            "description": "filter by attribute 'serialNumber'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateType",
                  "-certificateType",
                  "displayName",
                  "-displayName",
                  "id",
                  "-id",
                  "serialNumber",
                  "-serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "passTypeId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[passTypeIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type passTypeIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates",
                  "identifier",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Certificates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificatesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Certificate",
        "tags": [
          "Certificates"
        ],
        "operationId": "certificates-create_instance",
        "requestBody": {
          "description": "Certificate representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single Certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/certificates/{id}": {
      "get": {
        "summary": "Read and Download Certificate Information",
        "tags": [
          "Certificates"
        ],
        "operationId": "certificates-get_instance",
        "parameters": [
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "passTypeId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[passTypeIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type passTypeIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates",
                  "identifier",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single Certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke a Certificate",
        "tags": [
          "Certificates"
        ],
        "operationId": "certificates-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/devices": {
      "get": {
        "summary": "List Devices",
        "tags": [
          "Devices"
        ],
        "operationId": "devices-get_collection",
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "filter by attribute 'name'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[platform]",
            "in": "query",
            "description": "filter by attribute 'platform'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "filter by attribute 'status'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ENABLED",
                  "DISABLED"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[udid]",
            "in": "query",
            "description": "filter by attribute 'udid'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "platform",
                  "-platform",
                  "status",
                  "-status",
                  "udid",
                  "-udid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[devices]",
            "in": "query",
            "description": "the fields to include for returned resources of type devices",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addedDate",
                  "deviceClass",
                  "model",
                  "name",
                  "platform",
                  "status",
                  "udid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Devices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DevicesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register a New Device",
        "tags": [
          "Devices"
        ],
        "operationId": "devices-create_instance",
        "requestBody": {
          "description": "Device representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{id}": {
      "get": {
        "summary": "Read Device Information",
        "tags": [
          "Devices"
        ],
        "operationId": "devices-get_instance",
        "parameters": [
          {
            "name": "fields[devices]",
            "in": "query",
            "description": "the fields to include for returned resources of type devices",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addedDate",
                  "deviceClass",
                  "model",
                  "name",
                  "platform",
                  "status",
                  "udid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a Registered Device",
        "tags": [
          "Devices"
        ],
        "operationId": "devices-update_instance",
        "requestBody": {
          "description": "Device representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/passTypeIds": {
      "get": {
        "summary": "List Pass Type Ids",
        "tags": [
          "PassTypeIds"
        ],
        "operationId": "passTypeIds-get_collection",
        "parameters": [
          {
            "name": "filter[identifier]",
            "in": "query",
            "description": "filter by attribute 'identifier'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[name]",
            "in": "query",
            "description": "filter by attribute 'name'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "identifier",
                  "-identifier",
                  "name",
                  "-name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[passTypeIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type passTypeIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates",
                  "identifier",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[certificates]",
            "in": "query",
            "description": "maximum number of related certificates returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of PassTypeIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassTypeIdsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a PassTypeId",
        "tags": [
          "PassTypeIds"
        ],
        "operationId": "passTypeIds-create_instance",
        "requestBody": {
          "description": "PassTypeId representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassTypeIdCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single PassTypeId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassTypeIdResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/passTypeIds/{id}": {
      "get": {
        "summary": "Read PassTypeId Information",
        "tags": [
          "PassTypeIds"
        ],
        "operationId": "passTypeIds-get_instance",
        "parameters": [
          {
            "name": "fields[passTypeIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type passTypeIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates",
                  "identifier",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificates"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[certificates]",
            "in": "query",
            "description": "maximum number of related certificates returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single PassTypeId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassTypeIdResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modify a PassTypeId",
        "tags": [
          "PassTypeIds"
        ],
        "operationId": "passTypeIds-update_instance",
        "requestBody": {
          "description": "PassTypeId representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassTypeIdUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single PassTypeId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassTypeIdResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a PassTypeId",
        "tags": [
          "PassTypeIds"
        ],
        "operationId": "passTypeIds-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/profiles": {
      "get": {
        "summary": "List and Download Profiles",
        "tags": [
          "Profiles"
        ],
        "operationId": "profiles-get_collection",
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "filter by attribute 'name'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[profileState]",
            "in": "query",
            "description": "filter by attribute 'profileState'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "INVALID"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[profileType]",
            "in": "query",
            "description": "filter by attribute 'profileType'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS_APP_DEVELOPMENT",
                  "IOS_APP_STORE",
                  "IOS_APP_ADHOC",
                  "IOS_APP_INHOUSE",
                  "MAC_APP_DEVELOPMENT",
                  "MAC_APP_STORE",
                  "MAC_APP_DIRECT",
                  "TVOS_APP_DEVELOPMENT",
                  "TVOS_APP_STORE",
                  "TVOS_APP_ADHOC",
                  "TVOS_APP_INHOUSE",
                  "MAC_CATALYST_APP_DEVELOPMENT",
                  "MAC_CATALYST_APP_STORE",
                  "MAC_CATALYST_APP_DIRECT"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "id",
                  "-id",
                  "name",
                  "-name",
                  "profileState",
                  "-profileState",
                  "profileType",
                  "-profileType"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[profiles]",
            "in": "query",
            "description": "the fields to include for returned resources of type profiles",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "createdDate",
                  "devices",
                  "expirationDate",
                  "name",
                  "platform",
                  "profileContent",
                  "profileState",
                  "profileType",
                  "uuid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "devices"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[devices]",
            "in": "query",
            "description": "the fields to include for returned resources of type devices",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addedDate",
                  "deviceClass",
                  "model",
                  "name",
                  "platform",
                  "status",
                  "udid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[bundleIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "identifier",
                  "name",
                  "platform",
                  "profiles",
                  "seedId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[certificates]",
            "in": "query",
            "description": "maximum number of related certificates returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[devices]",
            "in": "query",
            "description": "maximum number of related devices returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Profile",
        "tags": [
          "Profiles"
        ],
        "operationId": "profiles-create_instance",
        "requestBody": {
          "description": "Profile representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{id}": {
      "get": {
        "summary": "Read and Download Profile Information",
        "tags": [
          "Profiles"
        ],
        "operationId": "profiles-get_instance",
        "parameters": [
          {
            "name": "fields[profiles]",
            "in": "query",
            "description": "the fields to include for returned resources of type profiles",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "createdDate",
                  "devices",
                  "expirationDate",
                  "name",
                  "platform",
                  "profileContent",
                  "profileState",
                  "profileType",
                  "uuid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "certificates",
                  "devices"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[certificates]",
            "in": "query",
            "description": "the fields to include for returned resources of type certificates",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "certificateContent",
                  "certificateType",
                  "csrContent",
                  "displayName",
                  "expirationDate",
                  "name",
                  "passTypeId",
                  "platform",
                  "serialNumber"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[devices]",
            "in": "query",
            "description": "the fields to include for returned resources of type devices",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addedDate",
                  "deviceClass",
                  "model",
                  "name",
                  "platform",
                  "status",
                  "udid"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[bundleIds]",
            "in": "query",
            "description": "the fields to include for returned resources of type bundleIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleIdCapabilities",
                  "identifier",
                  "name",
                  "platform",
                  "profiles",
                  "seedId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[certificates]",
            "in": "query",
            "description": "maximum number of related certificates returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[devices]",
            "in": "query",
            "description": "maximum number of related devices returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Profile",
        "tags": [
          "Profiles"
        ],
        "operationId": "profiles-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/userInvitations": {
      "get": {
        "summary": "List Invited Users",
        "tags": [
          "UserInvitations"
        ],
        "operationId": "userInvitations-get_collection",
        "parameters": [
          {
            "name": "filter[email]",
            "in": "query",
            "description": "filter by attribute 'email'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[roles]",
            "in": "query",
            "description": "filter by attribute 'roles'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ADMIN",
                  "ACCOUNT_HOLDER",
                  "DEVELOPER"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "email",
                  "-email",
                  "lastName",
                  "-lastName"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[userInvitations]",
            "in": "query",
            "description": "the fields to include for returned resources of type userInvitations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "email",
                  "expirationDate",
                  "firstName",
                  "lastName",
                  "roles"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of UserInvitations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvitationsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Invite a User",
        "tags": [
          "UserInvitations"
        ],
        "operationId": "userInvitations-create_instance",
        "requestBody": {
          "description": "UserInvitation representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInvitationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single UserInvitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvitationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/userInvitations/{id}": {
      "get": {
        "summary": "Read UserInvitation Information",
        "tags": [
          "UserInvitations"
        ],
        "operationId": "userInvitations-get_instance",
        "parameters": [
          {
            "name": "fields[userInvitations]",
            "in": "query",
            "description": "the fields to include for returned resources of type userInvitations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "email",
                  "expirationDate",
                  "firstName",
                  "lastName",
                  "roles"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single UserInvitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvitationResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel a User Invitation",
        "tags": [
          "UserInvitations"
        ],
        "operationId": "userInvitations-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/users": {
      "get": {
        "summary": "List Users",
        "tags": [
          "Users"
        ],
        "operationId": "users-get_collection",
        "parameters": [
          {
            "name": "filter[roles]",
            "in": "query",
            "description": "filter by attribute 'roles'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ADMIN",
                  "ACCOUNT_HOLDER",
                  "DEVELOPER"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[username]",
            "in": "query",
            "description": "filter by attribute 'username'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "lastName",
                  "-lastName",
                  "username",
                  "-username"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[users]",
            "in": "query",
[...]
