{
  "openapi": "3.0.1",
  "info": {
    "title": "App Store Connect API",
    "version": "3.1",
    "x-platform": "app_store_connect_api"
  },
  "servers": [
    {
      "url": "https://api.appstoreconnect.apple.com/"
    }
  ],
  "paths": {
    "/v1/actors": {
      "get": {
        "tags": [
          "Actors"
        ],
        "operationId": "actors-get_collection",
        "parameters": [
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "fields[actors]",
            "in": "query",
            "description": "the fields to include for returned resources of type actors",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "actorType",
                  "apiKeyId",
                  "userEmail",
                  "userFirstName",
                  "userLastName"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Actors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/actors/{id}": {
      "get": {
        "tags": [
          "Actors"
        ],
        "operationId": "actors-get_instance",
        "parameters": [
          {
            "name": "fields[actors]",
            "in": "query",
            "description": "the fields to include for returned resources of type actors",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "actorType",
                  "apiKeyId",
                  "userEmail",
                  "userFirstName",
                  "userLastName"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single Actor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/ageRatingDeclarations/{id}": {
      "patch": {
        "tags": [
          "AgeRatingDeclarations"
        ],
        "operationId": "ageRatingDeclarations-update_instance",
        "requestBody": {
          "description": "AgeRatingDeclaration representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgeRatingDeclarationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AgeRatingDeclaration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeRatingDeclarationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v2/appAvailabilities": {
      "post": {
        "tags": [
          "AppAvailabilities"
        ],
        "operationId": "appAvailabilitiesV2-create_instance",
        "requestBody": {
          "description": "AppAvailability representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppAvailabilityV2CreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppAvailability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityV2Response"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/appAvailabilities/{id}": {
      "get": {
        "tags": [
          "AppAvailabilities"
        ],
        "operationId": "appAvailabilitiesV2-get_instance",
        "parameters": [
          {
            "name": "fields[appAvailabilities]",
            "in": "query",
            "description": "the fields to include for returned resources of type appAvailabilities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "availableInNewTerritories",
                  "territoryAvailabilities"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "territoryAvailabilities"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[territoryAvailabilities]",
            "in": "query",
            "description": "the fields to include for returned resources of type territoryAvailabilities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "available",
                  "contentStatuses",
                  "preOrderEnabled",
                  "preOrderPublishDate",
                  "releaseDate",
                  "territory"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[territoryAvailabilities]",
            "in": "query",
            "description": "maximum number of related territoryAvailabilities returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppAvailability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityV2Response"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appAvailabilities": {
      "post": {
        "tags": [
          "AppAvailabilities"
        ],
        "operationId": "appAvailabilities-create_instance",
        "deprecated": true,
        "requestBody": {
          "description": "AppAvailability representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppAvailabilityCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppAvailability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appAvailabilities/{id}": {
      "get": {
        "tags": [
          "AppAvailabilities"
        ],
        "operationId": "appAvailabilities-get_instance",
        "deprecated": true,
        "parameters": [
          {
            "name": "fields[appAvailabilities]",
            "in": "query",
            "description": "the fields to include for returned resources of type appAvailabilities",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "availableInNewTerritories",
                  "availableTerritories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "availableTerritories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[territories]",
            "in": "query",
            "description": "the fields to include for returned resources of type territories",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "currency"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[availableTerritories]",
            "in": "query",
            "description": "maximum number of related availableTerritories returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppAvailability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appCategories": {
      "get": {
        "tags": [
          "AppCategories"
        ],
        "operationId": "appCategories-get_collection",
        "parameters": [
          {
            "name": "filter[platforms]",
            "in": "query",
            "description": "filter by attribute 'platforms'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS",
                  "TV_OS"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "exists[parent]",
            "in": "query",
            "description": "filter by existence or non-existence of related 'parent'",
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appCategories]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCategories",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "platforms",
                  "subcategories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "subcategories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[subcategories]",
            "in": "query",
            "description": "maximum number of related subcategories returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of AppCategories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCategoriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appCategories/{id}": {
      "get": {
        "tags": [
          "AppCategories"
        ],
        "operationId": "appCategories-get_instance",
        "parameters": [
          {
            "name": "fields[appCategories]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCategories",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "platforms",
                  "subcategories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "parent",
                  "subcategories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[subcategories]",
            "in": "query",
            "description": "maximum number of related subcategories returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppCategory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCategoryResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipAdvancedExperienceImages": {
      "post": {
        "tags": [
          "AppClipAdvancedExperienceImages"
        ],
        "operationId": "appClipAdvancedExperienceImages-create_instance",
        "requestBody": {
          "description": "AppClipAdvancedExperienceImage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAdvancedExperienceImageCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipAdvancedExperienceImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipAdvancedExperienceImages/{id}": {
      "get": {
        "tags": [
          "AppClipAdvancedExperienceImages"
        ],
        "operationId": "appClipAdvancedExperienceImages-get_instance",
        "parameters": [
          {
            "name": "fields[appClipAdvancedExperienceImages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipAdvancedExperienceImages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "assetDeliveryState",
                  "fileName",
                  "fileSize",
                  "imageAsset",
                  "sourceFileChecksum",
                  "uploadOperations",
                  "uploaded"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAdvancedExperienceImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipAdvancedExperienceImages"
        ],
        "operationId": "appClipAdvancedExperienceImages-update_instance",
        "requestBody": {
          "description": "AppClipAdvancedExperienceImage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAdvancedExperienceImageUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAdvancedExperienceImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipAdvancedExperiences": {
      "post": {
        "tags": [
          "AppClipAdvancedExperiences"
        ],
        "operationId": "appClipAdvancedExperiences-create_instance",
        "requestBody": {
          "description": "AppClipAdvancedExperience representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAdvancedExperienceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipAdvancedExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipAdvancedExperiences/{id}": {
      "get": {
        "tags": [
          "AppClipAdvancedExperiences"
        ],
        "operationId": "appClipAdvancedExperiences-get_instance",
        "parameters": [
          {
            "name": "fields[appClipAdvancedExperiences]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipAdvancedExperiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action",
                  "appClip",
                  "businessCategory",
                  "defaultLanguage",
                  "headerImage",
                  "isPoweredBy",
                  "link",
                  "localizations",
                  "place",
                  "placeStatus",
                  "removed",
                  "status",
                  "version"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClip",
                  "headerImage",
                  "localizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[localizations]",
            "in": "query",
            "description": "maximum number of related localizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAdvancedExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipAdvancedExperiences"
        ],
        "operationId": "appClipAdvancedExperiences-update_instance",
        "requestBody": {
          "description": "AppClipAdvancedExperience representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAdvancedExperienceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAdvancedExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipAppStoreReviewDetails": {
      "post": {
        "tags": [
          "AppClipAppStoreReviewDetails"
        ],
        "operationId": "appClipAppStoreReviewDetails-create_instance",
        "requestBody": {
          "description": "AppClipAppStoreReviewDetail representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAppStoreReviewDetailCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipAppStoreReviewDetail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipAppStoreReviewDetails/{id}": {
      "get": {
        "tags": [
          "AppClipAppStoreReviewDetails"
        ],
        "operationId": "appClipAppStoreReviewDetails-get_instance",
        "parameters": [
          {
            "name": "fields[appClipAppStoreReviewDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipAppStoreReviewDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience",
                  "invocationUrls"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAppStoreReviewDetail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipAppStoreReviewDetails"
        ],
        "operationId": "appClipAppStoreReviewDetails-update_instance",
        "requestBody": {
          "description": "AppClipAppStoreReviewDetail representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipAppStoreReviewDetailUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipAppStoreReviewDetail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipDefaultExperienceLocalizations": {
      "post": {
        "tags": [
          "AppClipDefaultExperienceLocalizations"
        ],
        "operationId": "appClipDefaultExperienceLocalizations-create_instance",
        "requestBody": {
          "description": "AppClipDefaultExperienceLocalization representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipDefaultExperienceLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipDefaultExperienceLocalizations/{id}": {
      "get": {
        "tags": [
          "AppClipDefaultExperienceLocalizations"
        ],
        "operationId": "appClipDefaultExperienceLocalizations-get_instance",
        "parameters": [
          {
            "name": "fields[appClipDefaultExperienceLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipDefaultExperienceLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience",
                  "appClipHeaderImage",
                  "locale",
                  "subtitle"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience",
                  "appClipHeaderImage"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClipHeaderImages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipHeaderImages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperienceLocalization",
                  "assetDeliveryState",
                  "fileName",
                  "fileSize",
                  "imageAsset",
                  "sourceFileChecksum",
                  "uploadOperations",
                  "uploaded"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipDefaultExperienceLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipDefaultExperienceLocalizations"
        ],
        "operationId": "appClipDefaultExperienceLocalizations-update_instance",
        "requestBody": {
          "description": "AppClipDefaultExperienceLocalization representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipDefaultExperienceLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppClipDefaultExperienceLocalizations"
        ],
        "operationId": "appClipDefaultExperienceLocalizations-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipDefaultExperiences": {
      "post": {
        "tags": [
          "AppClipDefaultExperiences"
        ],
        "operationId": "appClipDefaultExperiences-create_instance",
        "requestBody": {
          "description": "AppClipDefaultExperience representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipDefaultExperienceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipDefaultExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipDefaultExperiences/{id}": {
      "get": {
        "tags": [
          "AppClipDefaultExperiences"
        ],
        "operationId": "appClipDefaultExperiences-get_instance",
        "parameters": [
          {
            "name": "fields[appClipDefaultExperiences]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipDefaultExperiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action",
                  "appClip",
                  "appClipAppStoreReviewDetail",
                  "appClipDefaultExperienceLocalizations",
                  "appClipDefaultExperienceTemplate",
                  "releaseWithAppStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClip",
                  "appClipAppStoreReviewDetail",
                  "appClipDefaultExperienceLocalizations",
                  "releaseWithAppStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClipAppStoreReviewDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipAppStoreReviewDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience",
                  "invocationUrls"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ageRatingDeclaration",
                  "app",
                  "appClipDefaultExperience",
                  "appStoreReviewDetail",
                  "appStoreState",
                  "appStoreVersionExperiments",
                  "appStoreVersionExperimentsV2",
                  "appStoreVersionLocalizations",
                  "appStoreVersionPhasedRelease",
                  "appStoreVersionSubmission",
                  "build",
                  "copyright",
                  "createdDate",
                  "customerReviews",
                  "downloadable",
                  "earliestReleaseDate",
                  "platform",
                  "releaseType",
                  "routingAppCoverage",
                  "versionString"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClipDefaultExperienceLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipDefaultExperienceLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperience",
                  "appClipHeaderImage",
                  "locale",
                  "subtitle"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[appClipDefaultExperienceLocalizations]",
            "in": "query",
            "description": "maximum number of related appClipDefaultExperienceLocalizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipDefaultExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipDefaultExperiences"
        ],
        "operationId": "appClipDefaultExperiences-update_instance",
        "requestBody": {
          "description": "AppClipDefaultExperience representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipDefaultExperienceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipDefaultExperience",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppClipDefaultExperiences"
        ],
        "operationId": "appClipDefaultExperiences-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClipHeaderImages": {
      "post": {
        "tags": [
          "AppClipHeaderImages"
        ],
        "operationId": "appClipHeaderImages-create_instance",
        "requestBody": {
          "description": "AppClipHeaderImage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipHeaderImageCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppClipHeaderImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appClipHeaderImages/{id}": {
      "get": {
        "tags": [
          "AppClipHeaderImages"
        ],
        "operationId": "appClipHeaderImages-get_instance",
        "parameters": [
          {
            "name": "fields[appClipHeaderImages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipHeaderImages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperienceLocalization",
                  "assetDeliveryState",
                  "fileName",
                  "fileSize",
                  "imageAsset",
                  "sourceFileChecksum",
                  "uploadOperations",
                  "uploaded"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appClipDefaultExperienceLocalization"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipHeaderImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppClipHeaderImages"
        ],
        "operationId": "appClipHeaderImages-update_instance",
        "requestBody": {
          "description": "AppClipHeaderImage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppClipHeaderImageUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClipHeaderImage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppClipHeaderImages"
        ],
        "operationId": "appClipHeaderImages-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appClips/{id}": {
      "get": {
        "tags": [
          "AppClips"
        ],
        "operationId": "appClips-get_instance",
        "parameters": [
          {
            "name": "fields[appClips]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClips",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "appClipAdvancedExperiences",
                  "appClipDefaultExperiences",
                  "bundleId"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "appClipDefaultExperiences"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClipAdvancedExperiences]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipAdvancedExperiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action",
                  "appClip",
                  "businessCategory",
                  "defaultLanguage",
                  "headerImage",
                  "isPoweredBy",
                  "link",
                  "localizations",
                  "place",
                  "placeStatus",
                  "removed",
                  "status",
                  "version"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClipDefaultExperiences]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipDefaultExperiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action",
                  "appClip",
                  "appClipAppStoreReviewDetail",
                  "appClipDefaultExperienceLocalizations",
                  "appClipDefaultExperienceTemplate",
                  "releaseWithAppStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[appClipDefaultExperiences]",
            "in": "query",
            "description": "maximum number of related appClipDefaultExperiences returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppClip",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppClipResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appCustomProductPageLocalizations": {
      "post": {
        "tags": [
          "AppCustomProductPageLocalizations"
        ],
        "operationId": "appCustomProductPageLocalizations-create_instance",
        "requestBody": {
          "description": "AppCustomProductPageLocalization representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCustomProductPageLocalizationCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppCustomProductPageLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageLocalizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appCustomProductPageLocalizations/{id}": {
      "get": {
        "tags": [
          "AppCustomProductPageLocalizations"
        ],
        "operationId": "appCustomProductPageLocalizations-get_instance",
        "parameters": [
          {
            "name": "fields[appCustomProductPageLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPageLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPageVersion",
                  "appPreviewSets",
                  "appScreenshotSets",
                  "locale",
                  "promotionalText"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPageVersion",
                  "appPreviewSets",
                  "appScreenshotSets"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appScreenshotSets]",
            "in": "query",
            "description": "the fields to include for returned resources of type appScreenshotSets",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPageLocalization",
                  "appScreenshots",
                  "appStoreVersionExperimentTreatmentLocalization",
                  "appStoreVersionLocalization",
                  "screenshotDisplayType"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appPreviewSets]",
            "in": "query",
            "description": "the fields to include for returned resources of type appPreviewSets",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPageLocalization",
                  "appPreviews",
                  "appStoreVersionExperimentTreatmentLocalization",
                  "appStoreVersionLocalization",
                  "previewType"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[appPreviewSets]",
            "in": "query",
            "description": "maximum number of related appPreviewSets returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appScreenshotSets]",
            "in": "query",
            "description": "maximum number of related appScreenshotSets returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppCustomProductPageLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageLocalizationResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppCustomProductPageLocalizations"
        ],
        "operationId": "appCustomProductPageLocalizations-update_instance",
        "requestBody": {
          "description": "AppCustomProductPageLocalization representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCustomProductPageLocalizationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppCustomProductPageLocalization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageLocalizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AppCustomProductPageLocalizations"
        ],
        "operationId": "appCustomProductPageLocalizations-delete_instance",
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success (no content)"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appCustomProductPageVersions": {
      "post": {
        "tags": [
          "AppCustomProductPageVersions"
        ],
        "operationId": "appCustomProductPageVersions-create_instance",
        "requestBody": {
          "description": "AppCustomProductPageVersion representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCustomProductPageVersionCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppCustomProductPageVersion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageVersionResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appCustomProductPageVersions/{id}": {
      "get": {
        "tags": [
          "AppCustomProductPageVersions"
        ],
        "operationId": "appCustomProductPageVersions-get_instance",
        "parameters": [
          {
            "name": "fields[appCustomProductPageVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPageVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPage",
                  "appCustomProductPageLocalizations",
                  "state",
                  "version"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPage",
                  "appCustomProductPageLocalizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appCustomProductPageLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPageLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPageVersion",
                  "appPreviewSets",
                  "appScreenshotSets",
                  "locale",
                  "promotionalText"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[appCustomProductPageLocalizations]",
            "in": "query",
            "description": "maximum number of related appCustomProductPageLocalizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppCustomProductPageVersion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageVersionResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ]
    },
    "/v1/appCustomProductPages": {
      "post": {
        "tags": [
          "AppCustomProductPages"
        ],
        "operationId": "appCustomProductPages-create_instance",
        "requestBody": {
          "description": "AppCustomProductPage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCustomProductPageCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Single AppCustomProductPage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageResponse"
                }
              }
            }
          },
          "409": {
            "description": "Request entity error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appCustomProductPages/{id}": {
      "get": {
        "tags": [
          "AppCustomProductPages"
        ],
        "operationId": "appCustomProductPages-get_instance",
        "parameters": [
          {
            "name": "fields[appCustomProductPages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "appCustomProductPageVersions",
                  "appStoreVersionTemplate",
                  "customProductPageTemplate",
                  "name",
                  "url",
                  "visible"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "appCustomProductPageVersions"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appCustomProductPageVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPageVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appCustomProductPage",
                  "appCustomProductPageLocalizations",
                  "state",
                  "version"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[appCustomProductPageVersions]",
            "in": "query",
            "description": "maximum number of related appCustomProductPageVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single AppCustomProductPage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppCustomProductPageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "AppCustomProductPages"
        ],
        "operationId": "appCustomProductPages-update_instance",
        "requestBody": {
          "description": "AppCustomProductPage representation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCustomProductPageUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
[...]
