{"openapi":"3.0.1","info":{"title":"App Store Connect API","version":"4.2","x-platforms":{"app_store_connect_api":"App Store Connect API"}},"servers":[{"url":"https://api.appstoreconnect.apple.com/"}],"paths":{"/v1/accessibilityDeclarations":{"post":{"tags":["AccessibilityDeclarations"],"operationId":"accessibilityDeclarations_createInstance","requestBody":{"description":"AccessibilityDeclaration representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessibilityDeclarationCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AccessibilityDeclaration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessibilityDeclarationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/accessibilityDeclarations/{id}":{"get":{"tags":["AccessibilityDeclarations"],"operationId":"accessibilityDeclarations_getInstance","parameters":[{"name":"fields[accessibilityDeclarations]","in":"query","description":"the fields to include for returned resources of type accessibilityDeclarations","schema":{"type":"array","items":{"type":"string","enum":["deviceFamily","state","supportsAudioDescriptions","supportsCaptions","supportsDarkInterface","supportsDifferentiateWithoutColorAlone","supportsLargerText","supportsReducedMotion","supportsSufficientContrast","supportsVoiceControl","supportsVoiceover"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AccessibilityDeclaration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessibilityDeclarationResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AccessibilityDeclarations"],"operationId":"accessibilityDeclarations_updateInstance","requestBody":{"description":"AccessibilityDeclaration representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessibilityDeclarationUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AccessibilityDeclaration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessibilityDeclarationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AccessibilityDeclarations"],"operationId":"accessibilityDeclarations_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/actors":{"get":{"tags":["Actors"],"operationId":"actors_getCollection","parameters":[{"name":"filter[id]","in":"query","description":"filter by id(s)","schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"required":true},{"name":"fields[actors]","in":"query","description":"the fields to include for returned resources of type actors","schema":{"type":"array","items":{"type":"string","enum":["actorType","userFirstName","userLastName","userEmail","apiKeyId"]}},"style":"form","explode":false,"required":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"List of Actors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorsResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/actors/{id}":{"get":{"tags":["Actors"],"operationId":"actors_getInstance","parameters":[{"name":"fields[actors]","in":"query","description":"the fields to include for returned resources of type actors","schema":{"type":"array","items":{"type":"string","enum":["actorType","userFirstName","userLastName","userEmail","apiKeyId"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single Actor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/ageRatingDeclarations/{id}":{"patch":{"tags":["AgeRatingDeclarations"],"operationId":"ageRatingDeclarations_updateInstance","requestBody":{"description":"AgeRatingDeclaration representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgeRatingDeclarationUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AgeRatingDeclaration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgeRatingDeclarationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionDomains":{"get":{"tags":["AlternativeDistributionDomains"],"operationId":"alternativeDistributionDomains_getCollection","parameters":[{"name":"fields[alternativeDistributionDomains]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionDomains","schema":{"type":"array","items":{"type":"string","enum":["domain","referenceName","createdDate"]}},"style":"form","explode":false,"required":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"List of AlternativeDistributionDomains","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionDomainsResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["AlternativeDistributionDomains"],"operationId":"alternativeDistributionDomains_createInstance","requestBody":{"description":"AlternativeDistributionDomain representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionDomainCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AlternativeDistributionDomain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionDomainResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/alternativeDistributionDomains/{id}":{"get":{"tags":["AlternativeDistributionDomains"],"operationId":"alternativeDistributionDomains_getInstance","parameters":[{"name":"fields[alternativeDistributionDomains]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionDomains","schema":{"type":"array","items":{"type":"string","enum":["domain","referenceName","createdDate"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionDomain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionDomainResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AlternativeDistributionDomains"],"operationId":"alternativeDistributionDomains_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionKeys":{"get":{"tags":["AlternativeDistributionKeys"],"operationId":"alternativeDistributionKeys_getCollection","parameters":[{"name":"exists[app]","in":"query","description":"filter by existence or non-existence of related 'app'","schema":{"type":"boolean"},"style":"form","explode":false,"required":false},{"name":"fields[alternativeDistributionKeys]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionKeys","schema":{"type":"array","items":{"type":"string","enum":["publicKey"]}},"style":"form","explode":false,"required":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"List of AlternativeDistributionKeys","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionKeysResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["AlternativeDistributionKeys"],"operationId":"alternativeDistributionKeys_createInstance","requestBody":{"description":"AlternativeDistributionKey representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionKeyCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AlternativeDistributionKey","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionKeyResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/alternativeDistributionKeys/{id}":{"get":{"tags":["AlternativeDistributionKeys"],"operationId":"alternativeDistributionKeys_getInstance","parameters":[{"name":"fields[alternativeDistributionKeys]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionKeys","schema":{"type":"array","items":{"type":"string","enum":["publicKey"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionKey","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionKeyResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AlternativeDistributionKeys"],"operationId":"alternativeDistributionKeys_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionPackageDeltas/{id}":{"get":{"tags":["AlternativeDistributionPackageDeltas"],"operationId":"alternativeDistributionPackageDeltas_getInstance","parameters":[{"name":"fields[alternativeDistributionPackageDeltas]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageDeltas","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","alternativeDistributionKeyBlob","fileChecksum"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionPackageDelta","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageDeltaResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionPackageVariants/{id}":{"get":{"tags":["AlternativeDistributionPackageVariants"],"operationId":"alternativeDistributionPackageVariants_getInstance","parameters":[{"name":"fields[alternativeDistributionPackageVariants]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageVariants","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","alternativeDistributionKeyBlob","fileChecksum"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionPackageVariant","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageVariantResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionPackageVersions/{id}":{"get":{"tags":["AlternativeDistributionPackageVersions"],"operationId":"alternativeDistributionPackageVersions_getInstance","parameters":[{"name":"fields[alternativeDistributionPackageVersions]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageVersions","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","version","fileChecksum","state","variants","deltas","alternativeDistributionPackage"]}},"style":"form","explode":false,"required":false},{"name":"fields[alternativeDistributionPackageVariants]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageVariants","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","alternativeDistributionKeyBlob","fileChecksum"]}},"style":"form","explode":false,"required":false},{"name":"fields[alternativeDistributionPackageDeltas]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageDeltas","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","alternativeDistributionKeyBlob","fileChecksum"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["variants","deltas","alternativeDistributionPackage"]}},"style":"form","explode":false,"required":false},{"name":"limit[deltas]","in":"query","description":"maximum number of related deltas returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[variants]","in":"query","description":"maximum number of related variants returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionPackageVersion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageVersionResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/alternativeDistributionPackages":{"post":{"tags":["AlternativeDistributionPackages"],"operationId":"alternativeDistributionPackages_createInstance","requestBody":{"description":"AlternativeDistributionPackage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AlternativeDistributionPackage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/alternativeDistributionPackages/{id}":{"get":{"tags":["AlternativeDistributionPackages"],"operationId":"alternativeDistributionPackages_getInstance","parameters":[{"name":"fields[alternativeDistributionPackages]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackages","schema":{"type":"array","items":{"type":"string","enum":["sourceFileChecksum","versions"]}},"style":"form","explode":false,"required":false},{"name":"fields[alternativeDistributionPackageVersions]","in":"query","description":"the fields to include for returned resources of type alternativeDistributionPackageVersions","schema":{"type":"array","items":{"type":"string","enum":["url","urlExpirationDate","version","fileChecksum","state","variants","deltas","alternativeDistributionPackage"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["versions"]}},"style":"form","explode":false,"required":false},{"name":"limit[versions]","in":"query","description":"maximum number of related versions returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AlternativeDistributionPackage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlternativeDistributionPackageResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/analyticsReportInstances/{id}":{"get":{"tags":["AnalyticsReportInstances"],"operationId":"analyticsReportInstances_getInstance","parameters":[{"name":"fields[analyticsReportInstances]","in":"query","description":"the fields to include for returned resources of type analyticsReportInstances","schema":{"type":"array","items":{"type":"string","enum":["granularity","processingDate","segments"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AnalyticsReportInstance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportInstanceResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/analyticsReportRequests":{"post":{"tags":["AnalyticsReportRequests"],"operationId":"analyticsReportRequests_createInstance","requestBody":{"description":"AnalyticsReportRequest representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportRequestCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AnalyticsReportRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportRequestResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/analyticsReportRequests/{id}":{"get":{"tags":["AnalyticsReportRequests"],"operationId":"analyticsReportRequests_getInstance","parameters":[{"name":"fields[analyticsReportRequests]","in":"query","description":"the fields to include for returned resources of type analyticsReportRequests","schema":{"type":"array","items":{"type":"string","enum":["accessType","stoppedDueToInactivity","reports"]}},"style":"form","explode":false,"required":false},{"name":"fields[analyticsReports]","in":"query","description":"the fields to include for returned resources of type analyticsReports","schema":{"type":"array","items":{"type":"string","enum":["name","category","instances"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["reports"]}},"style":"form","explode":false,"required":false},{"name":"limit[reports]","in":"query","description":"maximum number of related reports returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AnalyticsReportRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportRequestResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AnalyticsReportRequests"],"operationId":"analyticsReportRequests_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/analyticsReportSegments/{id}":{"get":{"tags":["AnalyticsReportSegments"],"operationId":"analyticsReportSegments_getInstance","parameters":[{"name":"fields[analyticsReportSegments]","in":"query","description":"the fields to include for returned resources of type analyticsReportSegments","schema":{"type":"array","items":{"type":"string","enum":["checksum","sizeInBytes","url"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AnalyticsReportSegment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportSegmentResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/analyticsReports/{id}":{"get":{"tags":["AnalyticsReports"],"operationId":"analyticsReports_getInstance","parameters":[{"name":"fields[analyticsReports]","in":"query","description":"the fields to include for returned resources of type analyticsReports","schema":{"type":"array","items":{"type":"string","enum":["name","category","instances"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AnalyticsReport","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReportResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/androidToIosAppMappingDetails":{"post":{"tags":["AndroidToIosAppMappingDetails"],"operationId":"androidToIosAppMappingDetails_createInstance","requestBody":{"description":"AndroidToIosAppMappingDetail representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidToIosAppMappingDetailCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AndroidToIosAppMappingDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidToIosAppMappingDetailResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/androidToIosAppMappingDetails/{id}":{"get":{"tags":["AndroidToIosAppMappingDetails"],"operationId":"androidToIosAppMappingDetails_getInstance","parameters":[{"name":"fields[androidToIosAppMappingDetails]","in":"query","description":"the fields to include for returned resources of type androidToIosAppMappingDetails","schema":{"type":"array","items":{"type":"string","enum":["packageName","appSigningKeyPublicCertificateSha256Fingerprints"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AndroidToIosAppMappingDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidToIosAppMappingDetailResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AndroidToIosAppMappingDetails"],"operationId":"androidToIosAppMappingDetails_updateInstance","requestBody":{"description":"AndroidToIosAppMappingDetail representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidToIosAppMappingDetailUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AndroidToIosAppMappingDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AndroidToIosAppMappingDetailResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AndroidToIosAppMappingDetails"],"operationId":"androidToIosAppMappingDetails_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v2/appAvailabilities":{"post":{"tags":["AppAvailabilities"],"operationId":"appAvailabilitiesV2_createInstance","requestBody":{"description":"AppAvailability representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAvailabilityV2CreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppAvailability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAvailabilityV2Response"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v2/appAvailabilities/{id}":{"get":{"tags":["AppAvailabilities"],"operationId":"appAvailabilitiesV2_getInstance","parameters":[{"name":"fields[appAvailabilities]","in":"query","description":"the fields to include for returned resources of type appAvailabilities","schema":{"type":"array","items":{"type":"string","enum":["availableInNewTerritories","territoryAvailabilities"]}},"style":"form","explode":false,"required":false},{"name":"fields[territoryAvailabilities]","in":"query","description":"the fields to include for returned resources of type territoryAvailabilities","schema":{"type":"array","items":{"type":"string","enum":["available","releaseDate","preOrderEnabled","preOrderPublishDate","contentStatuses","territory"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["territoryAvailabilities"]}},"style":"form","explode":false,"required":false},{"name":"limit[territoryAvailabilities]","in":"query","description":"maximum number of related territoryAvailabilities returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppAvailability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAvailabilityV2Response"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appCategories":{"get":{"tags":["AppCategories"],"operationId":"appCategories_getCollection","parameters":[{"name":"filter[platforms]","in":"query","description":"filter by attribute 'platforms'","schema":{"type":"array","items":{"type":"string","enum":["IOS","MAC_OS","TV_OS","VISION_OS"]}},"style":"form","explode":false,"required":false},{"name":"exists[parent]","in":"query","description":"filter by existence or non-existence of related 'parent'","schema":{"type":"boolean"},"style":"form","explode":false,"required":false},{"name":"fields[appCategories]","in":"query","description":"the fields to include for returned resources of type appCategories","schema":{"type":"array","items":{"type":"string","enum":["platforms","subcategories","parent"]}},"style":"form","explode":false,"required":false},{"name":"limit","in":"query","description":"maximum resources per page","schema":{"type":"integer","maximum":200},"style":"form"},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subcategories","parent"]}},"style":"form","explode":false,"required":false},{"name":"limit[subcategories]","in":"query","description":"maximum number of related subcategories returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"List of AppCategories","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCategoriesResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appCategories/{id}":{"get":{"tags":["AppCategories"],"operationId":"appCategories_getInstance","parameters":[{"name":"fields[appCategories]","in":"query","description":"the fields to include for returned resources of type appCategories","schema":{"type":"array","items":{"type":"string","enum":["platforms","subcategories","parent"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["subcategories","parent"]}},"style":"form","explode":false,"required":false},{"name":"limit[subcategories]","in":"query","description":"maximum number of related subcategories returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppCategory","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCategoryResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipAdvancedExperienceImages":{"post":{"tags":["AppClipAdvancedExperienceImages"],"operationId":"appClipAdvancedExperienceImages_createInstance","requestBody":{"description":"AppClipAdvancedExperienceImage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceImageCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipAdvancedExperienceImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceImageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipAdvancedExperienceImages/{id}":{"get":{"tags":["AppClipAdvancedExperienceImages"],"operationId":"appClipAdvancedExperienceImages_getInstance","parameters":[{"name":"fields[appClipAdvancedExperienceImages]","in":"query","description":"the fields to include for returned resources of type appClipAdvancedExperienceImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","uploadOperations","assetDeliveryState"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAdvancedExperienceImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceImageResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipAdvancedExperienceImages"],"operationId":"appClipAdvancedExperienceImages_updateInstance","requestBody":{"description":"AppClipAdvancedExperienceImage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceImageUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAdvancedExperienceImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceImageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipAdvancedExperiences":{"post":{"tags":["AppClipAdvancedExperiences"],"operationId":"appClipAdvancedExperiences_createInstance","requestBody":{"description":"AppClipAdvancedExperience representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipAdvancedExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipAdvancedExperiences/{id}":{"get":{"tags":["AppClipAdvancedExperiences"],"operationId":"appClipAdvancedExperiences_getInstance","parameters":[{"name":"fields[appClipAdvancedExperiences]","in":"query","description":"the fields to include for returned resources of type appClipAdvancedExperiences","schema":{"type":"array","items":{"type":"string","enum":["link","version","status","action","isPoweredBy","place","placeStatus","businessCategory","defaultLanguage","appClip","headerImage","localizations"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appClip","headerImage","localizations"]}},"style":"form","explode":false,"required":false},{"name":"limit[localizations]","in":"query","description":"maximum number of related localizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAdvancedExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipAdvancedExperiences"],"operationId":"appClipAdvancedExperiences_updateInstance","requestBody":{"description":"AppClipAdvancedExperience representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAdvancedExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAdvancedExperienceResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipAppStoreReviewDetails":{"post":{"tags":["AppClipAppStoreReviewDetails"],"operationId":"appClipAppStoreReviewDetails_createInstance","requestBody":{"description":"AppClipAppStoreReviewDetail representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAppStoreReviewDetailCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipAppStoreReviewDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAppStoreReviewDetailResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipAppStoreReviewDetails/{id}":{"get":{"tags":["AppClipAppStoreReviewDetails"],"operationId":"appClipAppStoreReviewDetails_getInstance","parameters":[{"name":"fields[appClipAppStoreReviewDetails]","in":"query","description":"the fields to include for returned resources of type appClipAppStoreReviewDetails","schema":{"type":"array","items":{"type":"string","enum":["invocationUrls","appClipDefaultExperience"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appClipDefaultExperience"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAppStoreReviewDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAppStoreReviewDetailResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipAppStoreReviewDetails"],"operationId":"appClipAppStoreReviewDetails_updateInstance","requestBody":{"description":"AppClipAppStoreReviewDetail representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAppStoreReviewDetailUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipAppStoreReviewDetail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipAppStoreReviewDetailResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipDefaultExperienceLocalizations":{"post":{"tags":["AppClipDefaultExperienceLocalizations"],"operationId":"appClipDefaultExperienceLocalizations_createInstance","requestBody":{"description":"AppClipDefaultExperienceLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceLocalizationCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipDefaultExperienceLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceLocalizationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipDefaultExperienceLocalizations/{id}":{"get":{"tags":["AppClipDefaultExperienceLocalizations"],"operationId":"appClipDefaultExperienceLocalizations_getInstance","parameters":[{"name":"fields[appClipDefaultExperienceLocalizations]","in":"query","description":"the fields to include for returned resources of type appClipDefaultExperienceLocalizations","schema":{"type":"array","items":{"type":"string","enum":["locale","subtitle","appClipDefaultExperience","appClipHeaderImage"]}},"style":"form","explode":false,"required":false},{"name":"fields[appClipHeaderImages]","in":"query","description":"the fields to include for returned resources of type appClipHeaderImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","uploadOperations","assetDeliveryState","appClipDefaultExperienceLocalization"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appClipDefaultExperience","appClipHeaderImage"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipDefaultExperienceLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceLocalizationResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipDefaultExperienceLocalizations"],"operationId":"appClipDefaultExperienceLocalizations_updateInstance","requestBody":{"description":"AppClipDefaultExperienceLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceLocalizationUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipDefaultExperienceLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceLocalizationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AppClipDefaultExperienceLocalizations"],"operationId":"appClipDefaultExperienceLocalizations_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipDefaultExperiences":{"post":{"tags":["AppClipDefaultExperiences"],"operationId":"appClipDefaultExperiences_createInstance","requestBody":{"description":"AppClipDefaultExperience representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipDefaultExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipDefaultExperiences/{id}":{"get":{"tags":["AppClipDefaultExperiences"],"operationId":"appClipDefaultExperiences_getInstance","parameters":[{"name":"fields[appClipDefaultExperiences]","in":"query","description":"the fields to include for returned resources of type appClipDefaultExperiences","schema":{"type":"array","items":{"type":"string","enum":["action","appClip","releaseWithAppStoreVersion","appClipDefaultExperienceLocalizations","appClipAppStoreReviewDetail"]}},"style":"form","explode":false,"required":false},{"name":"fields[appStoreVersions]","in":"query","description":"the fields to include for returned resources of type appStoreVersions","schema":{"type":"array","items":{"type":"string","enum":["platform","versionString","appStoreState","appVersionState","copyright","reviewType","releaseType","earliestReleaseDate","usesIdfa","downloadable","createdDate","app","ageRatingDeclaration","appStoreVersionLocalizations","build","appStoreVersionPhasedRelease","gameCenterAppVersion","routingAppCoverage","appStoreReviewDetail","appStoreVersionSubmission","appClipDefaultExperience","appStoreVersionExperiments","appStoreVersionExperimentsV2","customerReviews","alternativeDistributionPackage"]}},"style":"form","explode":false,"required":false},{"name":"fields[appClipDefaultExperienceLocalizations]","in":"query","description":"the fields to include for returned resources of type appClipDefaultExperienceLocalizations","schema":{"type":"array","items":{"type":"string","enum":["locale","subtitle","appClipDefaultExperience","appClipHeaderImage"]}},"style":"form","explode":false,"required":false},{"name":"fields[appClipAppStoreReviewDetails]","in":"query","description":"the fields to include for returned resources of type appClipAppStoreReviewDetails","schema":{"type":"array","items":{"type":"string","enum":["invocationUrls","appClipDefaultExperience"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appClip","releaseWithAppStoreVersion","appClipDefaultExperienceLocalizations","appClipAppStoreReviewDetail"]}},"style":"form","explode":false,"required":false},{"name":"limit[appClipDefaultExperienceLocalizations]","in":"query","description":"maximum number of related appClipDefaultExperienceLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipDefaultExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipDefaultExperiences"],"operationId":"appClipDefaultExperiences_updateInstance","requestBody":{"description":"AppClipDefaultExperience representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipDefaultExperience","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipDefaultExperienceResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AppClipDefaultExperiences"],"operationId":"appClipDefaultExperiences_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClipHeaderImages":{"post":{"tags":["AppClipHeaderImages"],"operationId":"appClipHeaderImages_createInstance","requestBody":{"description":"AppClipHeaderImage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipHeaderImageCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppClipHeaderImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipHeaderImageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appClipHeaderImages/{id}":{"get":{"tags":["AppClipHeaderImages"],"operationId":"appClipHeaderImages_getInstance","parameters":[{"name":"fields[appClipHeaderImages]","in":"query","description":"the fields to include for returned resources of type appClipHeaderImages","schema":{"type":"array","items":{"type":"string","enum":["fileSize","fileName","sourceFileChecksum","imageAsset","uploadOperations","assetDeliveryState","appClipDefaultExperienceLocalization"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appClipDefaultExperienceLocalization"]}},"style":"form","explode":false,"required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipHeaderImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipHeaderImageResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppClipHeaderImages"],"operationId":"appClipHeaderImages_updateInstance","requestBody":{"description":"AppClipHeaderImage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipHeaderImageUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClipHeaderImage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipHeaderImageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AppClipHeaderImages"],"operationId":"appClipHeaderImages_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appClips/{id}":{"get":{"tags":["AppClips"],"operationId":"appClips_getInstance","parameters":[{"name":"fields[appClips]","in":"query","description":"the fields to include for returned resources of type appClips","schema":{"type":"array","items":{"type":"string","enum":["bundleId","app","appClipDefaultExperiences","appClipAdvancedExperiences"]}},"style":"form","explode":false,"required":false},{"name":"fields[appClipDefaultExperiences]","in":"query","description":"the fields to include for returned resources of type appClipDefaultExperiences","schema":{"type":"array","items":{"type":"string","enum":["action","appClip","releaseWithAppStoreVersion","appClipDefaultExperienceLocalizations","appClipAppStoreReviewDetail"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["app","appClipDefaultExperiences"]}},"style":"form","explode":false,"required":false},{"name":"limit[appClipDefaultExperiences]","in":"query","description":"maximum number of related appClipDefaultExperiences returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppClip","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppClipResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appCustomProductPageLocalizations":{"post":{"tags":["AppCustomProductPageLocalizations"],"operationId":"appCustomProductPageLocalizations_createInstance","requestBody":{"description":"AppCustomProductPageLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageLocalizationCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppCustomProductPageLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageLocalizationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appCustomProductPageLocalizations/{id}":{"get":{"tags":["AppCustomProductPageLocalizations"],"operationId":"appCustomProductPageLocalizations_getInstance","parameters":[{"name":"fields[appCustomProductPageLocalizations]","in":"query","description":"the fields to include for returned resources of type appCustomProductPageLocalizations","schema":{"type":"array","items":{"type":"string","enum":["locale","promotionalText","appCustomProductPageVersion","appScreenshotSets","appPreviewSets","searchKeywords"]}},"style":"form","explode":false,"required":false},{"name":"fields[appScreenshotSets]","in":"query","description":"the fields to include for returned resources of type appScreenshotSets","schema":{"type":"array","items":{"type":"string","enum":["screenshotDisplayType","appStoreVersionLocalization","appCustomProductPageLocalization","appStoreVersionExperimentTreatmentLocalization","appScreenshots"]}},"style":"form","explode":false,"required":false},{"name":"fields[appPreviewSets]","in":"query","description":"the fields to include for returned resources of type appPreviewSets","schema":{"type":"array","items":{"type":"string","enum":["previewType","appStoreVersionLocalization","appCustomProductPageLocalization","appStoreVersionExperimentTreatmentLocalization","appPreviews"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appCustomProductPageVersion","appScreenshotSets","appPreviewSets","searchKeywords"]}},"style":"form","explode":false,"required":false},{"name":"limit[appPreviewSets]","in":"query","description":"maximum number of related appPreviewSets returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[appScreenshotSets]","in":"query","description":"maximum number of related appScreenshotSets returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false},{"name":"limit[searchKeywords]","in":"query","description":"maximum number of related searchKeywords returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppCustomProductPageLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageLocalizationResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppCustomProductPageLocalizations"],"operationId":"appCustomProductPageLocalizations_updateInstance","requestBody":{"description":"AppCustomProductPageLocalization representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageLocalizationUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppCustomProductPageLocalization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageLocalizationResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["AppCustomProductPageLocalizations"],"operationId":"appCustomProductPageLocalizations_deleteInstance","responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"204":{"description":"Success (no content)"},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appCustomProductPageVersions":{"post":{"tags":["AppCustomProductPageVersions"],"operationId":"appCustomProductPageVersions_createInstance","requestBody":{"description":"AppCustomProductPageVersion representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageVersionCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppCustomProductPageVersion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageVersionResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appCustomProductPageVersions/{id}":{"get":{"tags":["AppCustomProductPageVersions"],"operationId":"appCustomProductPageVersions_getInstance","parameters":[{"name":"fields[appCustomProductPageVersions]","in":"query","description":"the fields to include for returned resources of type appCustomProductPageVersions","schema":{"type":"array","items":{"type":"string","enum":["version","state","deepLink","appCustomProductPage","appCustomProductPageLocalizations"]}},"style":"form","explode":false,"required":false},{"name":"fields[appCustomProductPageLocalizations]","in":"query","description":"the fields to include for returned resources of type appCustomProductPageLocalizations","schema":{"type":"array","items":{"type":"string","enum":["locale","promotionalText","appCustomProductPageVersion","appScreenshotSets","appPreviewSets","searchKeywords"]}},"style":"form","explode":false,"required":false},{"name":"include","in":"query","description":"comma-separated list of relationships to include","schema":{"type":"array","items":{"type":"string","enum":["appCustomProductPage","appCustomProductPageLocalizations"]}},"style":"form","explode":false,"required":false},{"name":"limit[appCustomProductPageLocalizations]","in":"query","description":"maximum number of related appCustomProductPageLocalizations returned (when they are included)","schema":{"type":"integer","maximum":50},"style":"form","required":false}],"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppCustomProductPageVersion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageVersionResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["AppCustomProductPageVersions"],"operationId":"appCustomProductPageVersions_updateInstance","requestBody":{"description":"AppCustomProductPageVersion representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageVersionUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Single AppCustomProductPageVersion","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageVersionResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"parameters":[{"name":"id","in":"path","description":"the id of the requested resource","schema":{"type":"string"},"style":"simple","required":true}]},"/v1/appCustomProductPages":{"post":{"tags":["AppCustomProductPages"],"operationId":"appCustomProductPages_createInstance","requestBody":{"description":"AppCustomProductPage representation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageCreateRequest"}}},"required":true},"responses":{"400":{"description":"Parameter error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Single AppCustomProductPage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCustomProductPageResponse"}}}},"409":{"description":"Request entity error(s)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/appCustomProductPages/{id}":{"get":{"tags":["AppCustomProductPages"],"operationId":"appCustomProductPages_getInstance","parameters":[{"name":"fields[appCustomProductPages]","in":"query","description":"the fields to include for returned resources of type appCustomProductPages","schema":{"type":"array","items":{"type":"string","enum":["name","url","visible","app","appCustomProductPageVersions"]}},"style":"form","explode":false,"required":false},{"name":"fields[appCustomProductPageVersions]","in":"query","description":"the fields to include for returned resources of type appCustomProductPageVersions","schema":{"type":"array","items":{"type":"string","enum":["version","state","deepLink","appCustomProductPage","appCustomProductPageLocalizations"
[...]
