name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - "README.md"
      - "CODE_OF_CONDUCT.md"
      - ".editorconfig"
      - ".spi.yml"
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test macOS
    runs-on: macOS-26
    timeout-minutes: 30
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.app
    strategy:
      matrix:
        destination:
          - "platform=macOS"
          - "platform=macOS,variant=Mac Catalyst"
          - "platform=iOS Simulator,name=iPhone 17 Pro,OS=26.0"
          - "platform=tvOS Simulator,name=Apple TV 4K (3rd generation) (at 1080p),OS=26.0"
          - "platform=watchOS Simulator,name=Apple Watch Ultra 3 (49mm),OS=26.0"
          - "platform=visionOS Simulator,name=Apple Vision Pro,OS=26.0"
    steps:
      - uses: actions/checkout@v4
      - name: Test platform ${{ matrix.destination }}
        run: set -o pipefail && xcodebuild -scheme AppStoreConnect-Swift-SDK -destination "${{ matrix.destination }}" test | xcbeautify

  linux_test:
    name: Test Linux
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Swiftly
        uses: vapor/swiftly-action@v0.2.0
        with:
          toolchain: latest
      - name: Test
        run: swift test
